.card
    width: 100%
    background: $color-blue-dark
    display: grid
    grid-template-columns: repeat(2, 1fr) 
    grid-row-gap: 4.5rem
    &__img
        width: 100%
        grid-column: 1 / -1
        grid-row: 1 / 2
    &__title
        grid-column: 1 / -1
        grid-row: 1 / 2
        align-self: end
        transform: translateY(50%)
        width: 80%
        justify-self: center
        @include third-title($color-white)
        padding: 1.5rem 0
        background: $color-green-dark
        text-align: center
    &__info
        margin-left: 2rem
        display: flex
        @include adaptive(tablet-small)
            margin-left: 7rem
        @include adaptive(phone)
            margin-left: 3rem
    &__info-icon
        margin-right: 1rem
        width: 2rem
        height: 2rem
    &__info-text
        @include text($color-white)
    &__btn
        grid-column: 1 / -1